.button-green {
  background-color: rgba(197, 255, 172, 0.37);
}

.button-red {
  background-color: rgba(255, 179, 179, 0.55);
}

.datepicker-width {
  width: 194px;
}

.datepicker-part {
  width: 130px;
}

.short-input{
  width: 100px;
}

.sidenav-button {
  position:fixed;
  top:45px;
  left:20px;
  z-index: 2 !important;
  color: red;
}

.mat-row:hover {
  background-color: #f5f5f5; /* Change this to any color you want */
}

table{
  width: 100%;
  table-layout: fixed;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.bold {
  font-weight: bold;
}

.mat-elevation-z8 td {
  padding-right: 3px;
}

.mat-column-m {
  width: 4%;
}

.mat-column-policyType {
  width: 5%;
}

.mat-column-client {
  width: 10%;
}

.mat-column-object {
  width: 13%;
}

.mat-column-insurer {
  width: 3%;
}

.mat-column-policy {
  width: 8%;
}

.mat-column-start {
  width: 6%;
}

.mat-column-end {
  width: 6%;
}

.mat-column-parts {
  width: 4%;
}

.mat-column-policySum {
  width: 5%;
}

.mat-column-paymentDate {
  width: 7%;
}

.mat-column-partSum {
  width: 5%;
}

.mat-column-partSumReal {
  width: 5%;
}

.mat-column-space {
  width: 1%;
}

.mat-column-paidDate {
  width: 6%;
}

.mat-column-invoice {
  width: 5%;
}

.mat-column-dateConfirmed {
  width: 7%;
}

td {
  vertical-align: baseline;
}

.error-input {
  background-color: rgba(255,0,8,0.3) !important;
}













